<div class="container">
    <div class="card">
        <div class="card-header">
            Project {{project.id}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{project.name}}</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem est voluptatum consequuntur beatae porro recusandae unde, optio reiciendis ab ratione architecto sunt, esse suscipit nostrum a rerum eos itaque assumenda.</p>
        </div>
    </div>
</div>