img {
    width: 86px;
    height: 92px;
    margin-right: 10px;
}

.barra {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.barra-botones {
    display: flex;
    button {
        margin: 5px;
    }
}