<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>home</mat-icon>
  </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/projects">
        <span>Projects</span>
      </button>
        <button mat-menu-item routerLink="/projects/new">
        <span>New Project</span>
      </button>
        <button mat-menu-item routerLink="/notifications">
        <span>Notifications</span>
      </button>
    </mat-menu>
    <span routerLink="/">Práctica</span>
</mat-toolbar>